* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus {
  outline: none;
  outline-style: none;
}
button:focus::-moz-focus-inner {
  outline: none;
  border: none;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-moz-focus-inner {
  outline: none;
  border: none;
  background-color: transparent;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "Markazi Text";
  background-color: #efeeee;
}

nav.Top {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to left, #117dc5, #208cd4);
  direction: rtl;
  position: fixed;
  top: 0;
  box-shadow: 5px 3px 10px #333;
}
nav.Top ul.menu {
  direction: rtl;
}
nav.Top ul.menu li {
  display: inline-block;
}
nav.Top ul.menu li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 18px;
  display: block;
  transition: 0.25s ease;
  border-radius: 10px;
}
nav.Top ul.menu li a:hover {
  background-color: #fff;
  color: #117dc5;
}

main {
  margin-top: 80px;
  direction: rtl;
  text-align: right;
}

div.form {
  position: absolute;
  height: 400px;
  width: 800px;
  background-color: #efeeee;
  border-radius: 10px;
  box-shadow: 7px 7px 10px 3px rgba(0, 0, 0, 0.06), -7px -7px 10px 3px rgba(255, 255, 255, 0.575);
  left: calc(50% - 400px);
  top: calc(50% - 200px);
  direction: rtl;
  display: flex;
  justify-content: space-around;
  text-align: right;
}
div.form div {
  flex: 1;
}
div.form div.cont {
  border: 5px solid #efeeee;
  background-color: #208cd4;
  padding: 15px;
  color: white;
  text-align: center;
  border-radius: 10px 0px 0 10px;
}
div.form div.cont h3 i.fa {
  font-size: 50px;
  padding: 15px;
  background-color: #117dc5;
  width: 90px;
  border-radius: 50%;
  height: 90px;
}
div.form div.cont h3 span {
  font-size: 25px;
  padding: 20px;
  display: block;
}
div.form div.main {
  text-align: center;
}
div.form div.main form {
  text-align: right;
  display: inline-block;
  height: 80%;
  margin-top: 10%;
  position: relative;
}
div.form div.main form label {
  font-size: 20px;
}
div.form div.main form input {
  font-size: 16px;
  margin: 10px 0;
  background-color: #efeeee;
  padding: 8px;
  font-family: "Markazi Text";
  width: 250px;
  border-radius: 10px;
  border: none;
  color: #117dc5;
  letter-spacing: 2px;
  box-shadow: inset 7px 7px 10px 3px rgba(0, 0, 0, 0.06), inset -7px -7px 10px 3px rgba(255, 255, 255, 0.575);
  text-shadow: 0 0 8px rgba(32, 140, 212, 0.424);
}
div.form div.main form input[type=radio] {
  width: 10px;
  background-color: transparent;
}
div.form div.main form button[type=submit] {
  display: block;
  position: relative;
  margin-top: 10px;
  font-family: "Markazi Text";
  width: 90%;
  right: 5%;
  padding: 4px;
  border-radius: 20px;
  border: none;
  box-shadow: 7px 7px 10px 3px rgba(0, 0, 0, 0.06), -7px -7px 10px 3px rgba(255, 255, 255, 0.575);
  background-color: #efeeee;
  font-size: 24px;
  transition: 0.5s ease;
  cursor: pointer;
}
div.form div.main form button[type=submit]:focus {
  box-shadow: inset 7px 7px 10px 3px rgba(0, 0, 0, 0.06), inset -7px -7px 10px 3px rgba(255, 255, 255, 0.575);
  text-shadow: 0 0 8px rgba(32, 140, 212, 0.424);
  color: #208cd4;
}
div.form div.main form button[type=submit]:hover {
  text-shadow: 0 0 8px rgba(32, 140, 212, 0.424);
  color: #208cd4;
}
@keyframes blink {
  5%, 15% {
    transform: rotateX(0deg);
  }
  50%, 80% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
div.form div.main form #eye {
  float: left;
  position: absolute;
  left: -10px;
  border-radius: 50%;
  padding: 10px;
  margin-top: 4px;
  animation-name: blink;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

section.main {
  width: 80%;
  font-size: 100%;
  margin-right: 10%;
}

div.addQ {
  font-size: 24px;
}
div.addQ input[type=text] {
  margin: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #117dc5;
  color: #208cd4;
  padding: 10px;
  font-size: 24px;
  font-family: "Markazi Text";
}
div.addQ button[type=submit] {
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Markazi Text";
  background-color: #208cd4;
  color: #efeeee;
  cursor: pointer;
  border: none;
  transition: 0.25s ease;
  border-radius: 20px;
  box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.06), -7px -7px 10px 2px rgba(255, 255, 255, 0.575);
  margin: 20px 86px;
}
div.addQ button[type=submit]:hover, div.addQ button[type=submit]:focus {
  box-shadow: inset 7px 7px 10px 2px rgba(0, 0, 0, 0.36), 7px 7px 10px 2px rgba(0, 0, 0, 0.06);
  background-color: #117dc5;
  color: #efeeee;
}
div.addQ button[type=submit] i {
  margin: 5px 5px;
}

@media only screen and (max-width: 850px) {
  div.form {
    width: 90%;
    left: 5%;
    top: 80px;
    height: 80%;
    box-shadow: 0 0 0 transparent;
    flex-direction: column-reverse;
  }
  div.form div.cont {
    border: none;
    border-radius: 10px 10px 0 0;
  }

  div.main {
    background-color: #efeeee;
  }
}

/*# sourceMappingURL=style.css.map */
